@import "../../assets/mixins";
@import "../../assets/variables";

.about-me {
  display: flex;
  justify-content: center;
  align-items: center;

  .about-me__image-wrapper {
    display: flex;
    align-self: stretch;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-right: 20px;
    margin-left: 20px;

    @include themify($themes) {
      background-color: themed("image-bg");
    }

    .about-me__image {
      width: 70%;
      height: auto;
    }
  }

  .about-me__content {
    width: 50%;

    .about-me__h2 {
      font-size: 48px;
      font-weight: 100;
      margin: 0;
      @include themify($themes) {
        color: themed("secondary-color");
      }
    }

    .about-me__p {
      font-size: 24px;
      font-weight: 100;
      @include themify($themes) {
        color: themed("secondary-color");
      }
    }
  }
}

@media only screen and (max-width: 1220px) {
  .about-me {
    .about-me__content {
      .about-me__h2 {
        font-size: 36px;
      }

      .about-me__p {
        font-size: 18px;
      }
    }
  }
}

@media only screen and (max-width: 780px) {
  .about-me {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;

    .about-me__image-wrapper {
      width: 100%;
      margin: 0;
    }

    .about-me__content {
      width: 100%;
    }
  }
}
