@import "../../assets/mixins";
@import "../../assets/variables";

.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;

  .hero-section__text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    .hero-section__h1 {
      font-size: 128px;
      font-weight: 100;
      margin: 0;
      @include themify($themes) {
        color: themed("secondary-color");
      }
    }

    .hero-section__h3 {
      font-size: 48px;
      font-weight: 100;
      margin: 0;
      @include themify($themes) {
        color: themed("secondary-color");
      }
    }
  }
}

@media only screen and (max-width: 1220px) {
  .hero-section {
    .hero-section__text-wrapper {
      .hero-section__h1 {
        font-size: 96px;
      }

      .hero-section__h3 {
        font-size: 36px;
      }
    }
  }
}

@media only screen and (max-width: 940px) {
  .hero-section {
    .hero-section__text-wrapper {
      .hero-section__h1 {
        font-size: 84px;
      }

      .hero-section__h3 {
        font-size: 32px;
      }
    }
  }
}

@media only screen and (max-width: 794px) {
  .hero-section {
    .hero-section__text-wrapper {
      .hero-section__h1 {
        font-size: 64px;
      }

      .hero-section__h3 {
        font-size: 28px;
      }
    }
  }
}

@media only screen and (max-width: 710px) {
  .hero-section {
    .hero-section__text-wrapper {
      align-items: center;

      .hero-section__h1 {
        font-size: 74px;
        text-align: center;
      }

      .hero-section__h3 {
        font-size: 24px;
        text-align: center;
        max-width: 400px;
      }
    }
  }
}
