@import "../../assets/mixins";
@import "../../assets/variables";

.section-title {
  font-size: 64px;
  font-weight: 100;
  margin: 0;
  text-align: center;

  @include themify($themes) {
    color: themed("secondary-color");
  }
}

@media only screen and (max-width: 630px) {
  .section-title {
    font-size: 48px;
  }
}

@media only screen and (max-width: 360px) {
  .section-title {
    font-size: 40px;
  }
}
