@import "../../assets/mixins";
@import "../../assets/variables";

.navigation {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 40px;
  position: sticky;
  top: 0;
  z-index: 1;
  transition: all 0.5s ease-in-out;
  @include themify($themes) {
    background-color: themed("primary-color");
  }

  .navigation-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid;
    padding: 15px 20px 15px 20px;
    @include themify($themes) {
      border-color: themed("border-color");
    }

    .navigation__h1 {
      font-size: 48px;
      font-weight: 100;
      margin: 0;
      @include themify($themes) {
        color: themed("secondary-color");
      }
    }

    .navigation__h3 {
      font-size: 32px;
      font-weight: 100;
      margin: 0;

      &:hover {
        cursor: pointer;
      }

      @include themify($themes) {
        color: themed("secondary-color");
      }
    }
  }

  .navigation-bot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid;
    padding: 15px 20px 15px 20px;
    @include themify($themes) {
      border-color: themed("border-color");
    }

    .navigation__h4 {
      font-size: 24px;
      font-weight: 100;
      margin: 0;
      @include themify($themes) {
        color: themed("secondary-color");
      }
    }
  }
}

@media only screen and (max-width: 1220px) {
  .navigation {
    .navigation-top {
      .navigation__h1 {
        font-size: 36px;
      }

      .navigation__h3 {
        font-size: 24px;
      }
    }

    .navigation-bot {
      .navigation__h4 {
        font-size: 18px;
      }
    }
  }
}

@media only screen and (max-width: 794px) {
  .navigation {
    .navigation-top {
      .navigation__h1 {
        font-size: 32px;
      }

      .navigation__h3 {
        font-size: 20px;
      }
    }

    .navigation-bot {
      .navigation__h4 {
        font-size: 14px;
      }
    }
  }
}

@media only screen and (max-width: 570px) {
  .navigation {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10px;
  }
}

@media only screen and (max-width: 400px) {
  .navigation {
    .navigation-top {
      padding: 15px 10px 15px 10px;

      .navigation__h1 {
        font-size: 32px;
      }

      .navigation__h3 {
        font-size: 20px;
      }
    }

    .navigation-bot {
      padding: 15px 10px 15px 10px;

      .navigation__h4 {
        font-size: 14px;
      }
    }
  }
}

@media only screen and (max-width: 370px) {
  .navigation {
    .navigation-top {
      .navigation__h1 {
        font-size: 24px;
      }

      .navigation__h3 {
        font-size: 18px;
      }
    }
  }
}
