// VIEWPORTS
$themes: (
  light: (
    primary-color: #d2d1c4,
    secondary-color: #303030,
    border: rgba(48, 48, 48, 0.15),
  ),
  dark: (
    primary-color: #303030,
    secondary-color: #d2d1c4,
    border: rgba(210, 209, 196, 0.15),
  ),
);
